*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('img/quiz-bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn {
  --hue: var(--hue-neutral);
  border: 2px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 1rem;
}

.btn:hover {
  border-color: black;
  background-color: hsl(var(--hue), 100%, 40%);
}

.btn.correct {
  background-color: lightgreen;
  color: black;
}

.btn.wrong {
  background-color: lightcoral;
  color: black;
}

.hide {
  display: none;
}
